
body{
    background-color: #efe7e7;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
}

.main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

#table{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    border-collapse:collapse;
}
#add{
    height: 50px;
    background-color: rgb(31, 135, 31);
    color: #fff;
   padding: 0px 20px;
    border-radius: 10px;
    border: none;
    font-size: 17px;

}

#formulare{
    padding: 20px;
    text-align: left;
    width: 50%;
    margin: auto;
}

input,#quantity{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    padding: 0px 20px;
    background-color: #fff;
}
label{
    font-size: 18px;
    margin-top: 5px;
}

#submit{
    height: 50px;
    background-color: rgb(31, 135, 31);
    color: #fff;
   padding: 0px 20px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    float: right;
    margin-top: 20px;

}

th,#total0{
    text-align: left;
    padding: 7px;
    font-size: 18px;
    font-weight: 600;

}
#total1{
    text-align: center;
    padding: 7px;
    font-size: 18px;
    font-weight: 600;

}

.base-input{
    margin-bottom: 20px;
}

h2{
    font-size: 40px;
    font-weight: 600;

}